<footer>
	<p>Texto de la receta &copy; Virginia García, publicada con permiso de la autora.<br>
	Imágenes de uso libre por <a href="https://unsplash.com/photos/green-leafed-vegetable-on-brown-wooden-surface-EWDvHNNfUmQ">Lukas Blazek</a>, <a href="https://unsplash.com/photos/orange-soup-in-black-ceramic-bowl-xVgE_mCA8fk">Max Griss</a> y <a href="https://pixabay.com/photos/sweet-potato-food-vegetable-yam-2086784/">Laura Lisauskas</a>.<br></p>
	<p>Recetas veganas &copy; 2025 David F. Fernández</p>
</footer>
